<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
	<title>Darwindrian</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>

<body>

    <h1>Darwindrian - Interactive Evolutionary Computing and Mondrian Artwork</h1>

    <p>See below for summarised results. A complete recording of the experiment is available here: <a href="{{RESULTS_PATH}}"><span class="monospace">{{RESULTS_PATH}}</span></a></p>

    <p>The table describes the experimental hyper-parameters, the middle graph plots a few key performance measures over time and the Mondrian-like image on the right was derived from the individual you rated most highly.</p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <table class="table table-hover table-responsive">
                    <tr>
                        <th>Hyper-parameter</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td>Implementation:</td>
                        <td>{{IMPLEMENTATION}}</td>
                    </tr>
                    <tr>
                        <td>Model:</td>
                        <td>{{MODEL}}</td>
                    </tr>
                    <tr>
                        <td>Population size:</td>
                        <td>{{POPULATION_SIZE}}</td>
                    </tr>
                    <tr>
                        <td>Number of elites:</td>
                        <td>{{NUMBER_OF_ELITES}}</td>
                    </tr>
                    <tr>
                        <td>Maximum generations:</td>
                        <td>{{MAX_GENERATIONS}}</td>
                    </tr>
                    <tr>
                        <td>Evaluated generations:</td>
                        <td>{{NUMBER_OF_GENERATIONS}}</td>
                    </tr>
                    <tr>
                        <td>Image dimensions:</td>
                        <td>{{WIDTH}}x{{HEIGHT}}</td>
                    </tr>
                    <tr>
                        <td>Number of origin points:</td>
                        <td>{{NUMBER_OF_POINTS}}</td>
                    </tr>
                    <tr>
                        <td>Number of generating loops:</td>
                        <td>{{NUMBER_OF_LOOPS}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4">
                <img class="img-responsive" src="/{{PERFORMANCE_GRAPH}}" />
            </div>
            <div class="col-lg-4">
                <img class="img-responsive" src="/{{FITTEST_INDIVIDUAL}}" />
            </div>
        </div>
    </div>

    <a href="/" class="btn btn-default" role="button">Start Again</a>

</body>

</html>
