<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
	<title>Darwindrian</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>

<body>

    <h1>Darwindrian - Interactive Evolutionary Computing and Mondrian Artwork</h1>

    <p>Unfortunately, a critical error has occurred: <span class="monospace">{{ERROR_MESSAGE}}</span></p>

    <p>This is unexpected, please report this to the developer. At the point of error, the stack trace was:</p>

    <div class="monospace">{{STACK_TRACE}}</div>

    <a href="/" class="form-control btn btn-default" id="restartbtn" role="button">Start Again</a>

</body>

</html>
