<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Darwindrian</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/magic-check.css" />
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/jquery-1.7.1.min.js"></script>
    <script src="/thumbnail.js"></script>
    <script src="/form-magic.js"></script>
</head>

<body>

    <h1>Darwindrian - Interactive Evolutionary Computing and Mondrian Artwork</h1>

    <p>This is the final set of ratings for the experiment.Click on a thumbnail to reveal a full-sized artwork and its rating form.</p>

    <form class="form-inline" method="post" action="/final/">

        <div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <div>
{{THUMBNAILS}}
                        </div>
                        <div class="newline">
                            <input class="form-control btn btn-default" type="button" id="submitbtnDisabled" disabled="disabled" value="Finish Experiment" style="display:none;" />
                            <input class="form-control btn btn-default" type="submit" id="submitbtn" value="Finish Experiment" title="Buttons will be available when background processing is complete, please rate some artworks in the meantime." onclick="this.style.display='none'; document.getElementById('submitbtnDisabled').style.display='inline';" disabled="disabled" />
                        </div>
                    </div>
                    <div class="preview-pane col-sm-4 col-md-4 col-lg-4">
{{PREVIEWS}}
                    </div>
                </div>
            </div>
        </div>

    </form>

</body>

</html>
