<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
	<title>Darwindrian</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/jquery-1.7.1.min.js"></script>
    <script src="/form-magic.js"></script>
</head>

<body>

    <h1>Darwindrian - Interactive Evolutionary Computing and Mondrian Artwork</h1>

    <p>Please select the desired hyper-parameters for this experiment. Processing and memory requirements are very sensitive to these parameters and so it is <span style="font-weight: bold;">strongly</span> recommended that you leave the default numeric settings as they are. </p>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form class="form-horizontal" method="post" action="/initialise/" role="form">
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="id_implementation" data-placement="top" data-toggle="tooltip" title="The Darwindrian implementation to use.">Implementation</label>
                        <div class="col-lg-8">
                            <select class="form-control" id="id_implementation" name="implementation">
                                <option value="original">Darwindrian</option>
                                <option value="improved">Improved Darwindrian</option>
                                <option value="unbiased" selected="selected">Unbiased Darwindrian</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="id_model" data-placement="top" data-toggle="tooltip" title="The evolutionary model to use.">Model</label>
                        <div class="col-lg-8">
                            <select class="form-control" id="id_model" name="model">
                                <option value="GA" selected="selected">GA</option>
                                <option value="EGA_EXACT_MATCHES">EGA (exact matches)</option>
                                <option value="EGA_INEXACT_MATCHES">EGA (inexact matches)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="weights">
                        <label class="col-lg-4 control-label" for="id_weight_k1" data-placement="top"data-toggle="tooltip" title="Epigenetic fitness function weight(s).">Weight(s)</label>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input class="form-control" type="number" step="0.01" id="id_weight_k1" name="weight_k1" min="0" value="1.0" />
                                </div>
                                <div class="col-lg-4">
                                    <input class="form-control" type="number" step="0.01" id="id_weight_k2" name="weight_k2" min="0" value="1.0" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="n_proc_cores">
                        <label class="col-lg-4 control-label" for="id_n_cores" data-placement="top" data-toggle="tooltip" title="Number of processing cores for epigenetic search.">Processing cores</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="number" id="id_n_cores" name="n_cores" min="1" value="{{DEFAULT_N_CORES}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="id_population_size" data-placement="top" data-toggle="tooltip" title="Number of individuals in each generation.">Population size</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="number" id="id_population_size" name="population_size" min="1" value="10" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="id_n_elites" data-placement="top" data-toggle="tooltip" title="Number of elites selected to join subsequent generation.">Number of elites</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="number" id="id_n_elites" name="n_elites" min="0" value="1" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="id_max_generations" data-placement="top" data-toggle="tooltip" title="Maximum number of generations to compute.">Maximum generations</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="number" id="id_max_generations" name="max_generations" min="1" value="10" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="id_width" data-placement="top" data-toggle="tooltip" title="Dimensions of the Mondrian-like image (width x height).">Image dimensions</label>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input class="form-control" type="number" id="id_width" name="width" min="1" value="480" />
                                </div>
                                <div class="col-lg-4">
                                    <input class="form-control" type="number" id="id_height" name="height" min="1" value="480" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="id_n_points" data-placement="top" data-toggle="tooltip" title="Number of origin points in abstract genotype.">Number of origin points</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="number" id="id_n_points" name="n_points" min="1" value="3" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="id_n_elites" data-placement="top" data-toggle="tooltip" title="Number of generating loops in phenotype emission.">Number of generating loops</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="number" id="id_n_loops" name="n_loops" min="1" value="3" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="id_show_points" data-placement="top" data-toggle="tooltip" title="Include origin points in phenotype images.">Show origin points</label>
                        <div class="col-lg-1">
                            <input class="form-control" type="checkbox" id="id_show_points" name="show_points" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <button class="btn btn-default btn-lg btn-block" type="reset">Reset form</button></div>
                            <div class="col-lg-6"><button class="btn btn-primary btn-lg btn-block" type="submit">Launch experiment</button></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <a href="/final/" class="btn btn-default btn-lg btn-block" id="completebtn" role="button">Final Evaluation</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>
