div.preview
{
    float: left;
    display: none;
    margin: auto;
}

div.newline
{
    float: left;
    clear: both;
}

img
{
    padding: 5px 0px 5px 0px;
}

span.rating
{
    font-weight: bold;
}

.monospace
{
    font-family: monospace;
    white-space: pre;
}
